{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<main>

    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="overlay-image" style="background-image: url('images/google.png');"></div>
        <div class="carousel-item active">
          
          <div class="container">
            <div class="carousel-caption">
              <h1>Le meilleur raccourcisseur d'Url.</h1>
              <p>Un raccourcisseur  d'Url concu avec des outils  puissants pour vous aider à développer.</p>
              <p><a class="btn btn-lg btn-primary" href="#">Inscription</a></p>
            </div>
          </div>
        </div>
      
      </div>
    
    </div>
  
  
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
  
    <div class="container marketing">
  
      <!-- Three columns of text below the carousel -->
      <div class="row">


        <div class="col-lg-4">
          <img loading="lazy" role="img" src="{{ asset('images/facebook.png') }}" width="320" height="180" />
          <h2 class="fw-bold">Heading</h2>
          <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
        </div><!-- /.col-lg-4 -->


        <div class="col-lg-4">
          <img loading="lazy" src="{{ asset('images/twitter.png') }}" role="img" width="320" height="180" />
          <h2 class="fw-bold">Heading</h2>
          <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
        </div><!-- /.col-lg-4 -->


        <div class="col-lg-4">
          <img loading="lazy" src="{{ asset('images/youtube.png') }}" role="img" width="320" height="180" />
          <h2 class="fw-bold">Heading</h2>
          <p>And lastly this, the third column of representative placeholder content.</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
  
    
      <hr class="featurette-divider">
  
  
    </div><!-- /.container -->
  
    <section class="col-lg-10 mx-auto mb-5">
      <div class="card">
        <div class="card-body bg-light">
          
          <form id="ShortenForm">
            <div class="col">
              <div class="input-group">
                <input type="text" name="url" id="id" autocomplete="off" placeholder="votre adresse à réduire"  class="form-control form-control-lg"/>
                <button type"sybmit" id="btnShortenUrl" class="btn btn-lg btn-success">Réduire l'Url</button>
              </div>
            </div>
          </form>

        </div> 
      </div>
    </section>


    <!-- FOOTER -->
    <footer class="container">
      <p>&copy; ManCodeur 2021–2022</p>
    </footer>
</main>
{% endblock %}
